
{% extends "base.html" %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Add New Jop</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">
                        <h4>Apply for the job</h4>
                        <form action="#" method ='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="boxed-btn3 w-100">
                                Submit
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
{% endblock body %} <
<div class="submit_btn">
     <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
</div>